@import "tailwindcss";
@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/tiptap/styles.css";
@import "flag-icons/css/flag-icons.min.css";
@import "@mantine/dates/styles.css";
